{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <h1 class="display-5 text-light">Additional Analytics</h1>
        <a class="btn btn-dark" href={% url 'deathsByState' %}>Deaths By State</a>
        <a class="btn btn-dark" href={% url 'opioidQuantities' %}>Opioid Quantities</a>
        <a class="btn btn-dark" href={% url 'onlyOpioids' %}>Prescribers Who Prescribe Only Opioids</a>
    </div>
</section>
    
{% endblock %}