{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="page-section bg-primary" id="about">
<div class="container px-4 px-lg-5">
    <div class="card p-3">
        <h1 class="display-5">  
            <i class="bi bi-person-circle display-2"></i>
            {{prescriber.first_name}} {{prescriber.last_name}}
        </h1>
        <div class="card-text">

            Specializes in {{prescriber.specialty}}
            <br>
            Resides in {{prescriber.state.state_name}}
            <br>
            {{totalPresc.total}} total prescriptions
            <br>
            Credentials: 
            {% for c in credentials %}
            {{c.credential}}{% if forloop.last == False %},{% endif %}
            {%endfor%}
            {% if not credentials %}
            None
            {% endif %}
            <br>
            Specialty: {{prescriber.specialty}}
            <br>
            Location: {{prescriber.state.state_name}}
            <br>
            Total Prescriptions: {{totalPresc.total}}
            <hr></hr>
            <a class="badge badge-pill bg-primary btn-lg" href="{% url 'editprescriber' npi=prescriber.npi %}">Edit</a>
            <a class="badge badge-pill bg-primary btn-lg ms-3" href="{% url 'deleteprescriber' npi=prescriber.npi %}">Delete</a>
        </div>
    </div>

    <table class="table mt-2">
        <thead>
            <tr class="table-light">
                <th scope="col">Drug Name</th>
                <th scope="col">Quantity Prescribed</th>
                <th scope="col">Average Prescribed by All Prescribers</th>
            </tr>
        </thead>
        {% for p in prescriptions %}
        <tr class="table-primary">
            <td>
                <a class="text-dark fw-bold" href={% url 'detailsDrug' drug_name=p.drug.drug_name %}>{{p.drug.drug_name | title}}</a>
                {% if p.drug.is_opioid %}
                <span class="badge badge-pill bg-danger ms-2">Opioid</span>
                {% endif %}
            </td>
            <td>{{p.quantity}}
                {% if p.diff > 75 %}
                <span class="badge badge-pill bg-success ms-2">{{ p.diff}}% above average</span>
                {% elif p.diff < -75 %}
                <span class="badge badge-pill bg-warning ms-2">{{ p.diff}}% below average</span>
                {% endif %}
            </td>
            <td>{{p.average}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</section>

{% endblock %}