{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <form name="search-prescribers" method="post" action="{% url 'searchPrescriber' %}" id="search-prescribers">
                        {% csrf_token %}
                        <label for="first_name">Name</label>
                        <input class="form-control form-control-lg" type="search" id="first_name" name="name" aria-label="name" placeholder="First Name">
                        <br>

                        <label for="gender">Gender</label>
                        <select class="form-control form-control-lg" id="gender" name='gender'>
                            <option value="" selected>Any Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                        <br>

                        <label for="specialty">Specialty</label>
                        <select class="form-control form-control-lg" id='specialty' name='specialty'>
                            <option value="" selected>Any Specialty</option>
                            {% for specialty in specialties %}
                            <option value="{{specialty.specialty}}">{{specialty.specialty}}</option>
                            {% endfor %}
                        </select>
                        <br>

                        <label for="state">State</label>
                        <select class="form-control form-control-lg" id='specialty' name='state'>
                                <option value="" selected>Any State</option>
                                {% for state in states %}
                                <option value="{{state}}">{{state.state_name}}</option>
                                {% endfor %}
                        </select>
                        <br>

                        <button class="btn btn-light btn-xl" type="submit" href="#services">Search</button>

                    </form>
                    {% if search_results %}
                    <ul class="list-group-primary">
                        {% for prescriber in search_results %}
                        <a href={% url "detailsPrescriber" %}
                        <li class="list-group-item d-flex justify-content-between align-items-start" aria-current="true">
                            <div class="ms-2 me-auto">
                              <h5 class="fw-bold">{{prescriber.full_name}} ({{prescriber.gender}})</h5>
                              <small>{{prescriber.specialty}}, {{prescriber.state.state_name}}</small>
                            </div>
                        </li>
                        </a>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section> 
    

{% endblock %}



