{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <form name="search-prescribers" method="post" action="{% url 'searchPrescriber' %}" id="search-prescribers">
                        {% csrf_token %}
                        <div class="form-floating">
                            <input class="form-control" type="search" id="first_name" name="name" aria-label="name" placeholder="First Name">
                            <label for="first_name">Prescriber Name</label>
                        </div>
                        <br>

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                    <select class="form-select" id="gender" name='gender'>
                                        <option value="" selected>Any Gender</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                    <label for="gender">Gender</label>
                                    </div>
                                </div>

                                <div class="col">

                                    <div class="form-floating">
                                    <select class="form-select" id='specialty' name='specialty'>
                                        <option value="" selected>Any Specialty</option>
                                        {% for specialty in specialties %}
                                        <option value="{{specialty.specialty}}">{{specialty.specialty}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="specialty">Specialty</label>
                                    </div>

                                </div>

                                <div class="col">

                                    <div class="form-floating">
                                    <select class="form-select" id='specialty' name='state'>
                                            <option value="" selected>Any State</option>
                                            {% for state in states %}
                                            <option value="{{state}}">{{state.state_name}}</option>
                                            {% endfor %}
                                    </select>
                                    <label for="state">State</label>
                                </div>

                            </div>
                        </div>
                        
                        <br>
                        <button class="btn btn-light btn-xl" type="submit" href="#services">Search</button>
                        <br>

                    </form>
                    {% if search_results %}
                    <ul class="list-group-primary">
                        {% for prescriber in search_results %}
                        <a href={% url "detailsPrescriber" npi=prescriber.npi %}
                        <li class="list-group-item d-flex justify-content-between align-items-start" aria-current="true">
                            <div class="container">
                              <h5 class="fw-bold align-left">{{prescriber.full_name}} ({{prescriber.gender}})</h5>
                              <small>{{prescriber.specialty}}, {{prescriber.state.state_name}}</small>
                            </div>
                        </li>
                        </a>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section> 
    

{% endblock %}



