{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h1 class="display-4 text-light">Search Drugs</h1>
                <form name="search-drugs" method="post" action="{% url 'searchDrug' %}" id="search-drugs">
                    {% csrf_token %}

                    <div class="row mt-2">

                        <div class="col">
                            <div class="form-floating">
                                <input class="form-control" type="search" id="drug_name" name="drug_name" aria-label="drug name" placeholder="Drug Name">
                                <label for="drug_name">Drug Name</label>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-2">

                        <div class="col">
                            <div class="form-floating">
                            <select class="form-select" id="is_opioid" name='is_opioid'>
                                <option value="" selected>Either</option>
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                            <label for="is_opioid">Is Opioid</label>
                            </div>
                        </div>

                        <div class="col">
                            <button class="btn btn-light btn-xl w-100" type="submit">Search</button>
                        </div>
                    </div>

                </form>

                {% if search_results %}
                <h2 class="display-10 mt-3 text-light">Search Results</h2>
                <ul class="list-group-primary mt-2 ps-0">
                    {% for drug in search_results %}
                    <a href={% url "detailsDrug" drug_name=drug.drug_name %}
                    <li class="list-group-item d-flex justify-content-between align-items-start mt-2" aria-current="true">
                        <div class="p-2 me-auto">
                            <h5 class="fw-bold">{{drug.drug_name | title }}</h5>
                            {% if drug.is_opioid %}
                                <small>Opioid</small>
                            {% else %}
                                <small>Not Opioid</small>
                            {% endif %}
                        </div>
                    </li>
                    </a>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

</section> 
    
{% endblock %}