{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h1 class="display-4 text-light">Search Prescribers</h1>
                <form name="search-prescribers" method="post" action="{% url 'searchPrescriber' %}" id="search-prescribers">
                    {% csrf_token %}
                    <div class="form-floating">
                        <input class="form-control" type="search" id="name" name="name" aria-label="name" placeholder="Prescriber Name">
                        <label for="name">Prescriber Name</label>
                    </div>

                        <div class="row mt-2">
                            <div class="col">
                                <div class="form-floating">
                                <select class="form-select" id="gender" name='gender'>
                                    <option value="" selected>Any Gender</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                                <label for="gender">Gender</label>
                                </div>
                            </div>

                            <div class="col">

                                <div class="form-floating">
                                <select class="form-select" id='specialty' name='specialty'>
                                    <option value="" selected>Any Specialty</option>
                                    {% for specialty in specialties %}
                                    <option value="{{specialty.specialty}}">{{specialty.specialty}}</option>
                                    {% endfor %}
                                </select>
                                <label for="specialty">Specialty</label>
                                </div>

                            </div>

                            <div class="col">

                                <div class="form-floating">
                                <select class="form-select" id='state' name='state'>
                                        <option value="" selected>Any State</option>
                                        {% for state in states %}
                                        <option value="{{state}}">{{state.state_name}}</option>
                                        {% endfor %}
                                </select>
                                <label for="state">State</label>
                                </div>
                            </div>

                            <div class="col ">
                                <button class="btn btn-light btn-xl w-100" type="submit">Search</button>
                            </div>

                        </div>
                </form>

                {% if search_results %}
                <h2 class="display-10 mt-3 text-light">Search Results</h2>
                <ul class="list-group-primary mt-2 ps-0">
                    {% for prescriber in search_results %}
                    <a href={% url "detailsPrescriber" npi=prescriber.npi %}
                    <li class="list-group-item d-flex justify-content-between align-items-start mt-2" aria-current="true">
                        <div class="me-auto p-2">
                            <h5 class="fw-bold">{{prescriber.full_name}}</h5>
                            <small>
                                {% if prescriber.gender == "M" %}
                                Male,
                                {% else %}
                                Female,
                                {% endif %}
                                {{prescriber.specialty}}, {{prescriber.state.state_name}}</small>
                        </div>
                    </li>
                    </a>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>   

{% endblock %}



